if env === 'dev'
	link(rel='stylesheet' href='css/main.css')
	script(type="text/javascript", src="bower_components/modernizr/modernizr.js")
else
	link(rel='stylesheet' href='css/main.min.css')
	script(type="text/javascript", src="js/modernizr.min.js")